<?xml version="1.0" ?>
<robot name="My robot">
    <webots>
        <device reference="lidar" type="Lidar">
        <ros>
            <topicName>/scan</topicName>
            <alwaysOn>true</alwaysOn>
            <frameId>lidar</frameId>
        </ros>
        </device>
        <device reference="camera" type="Camera">
        <ros>
            <topicName>/camera/image_raw</topicName>
            <alwaysOn>true</alwaysOn>
            <frameId>camera</frameId>
        </ros>
        </device>
        <plugin type="my_robot_driver::webot" />
    </webots>
</robot>